{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load flatpages %}
{% load i18n %}
{% load fullurl %}
{% load menu_items %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width,initial-scale=1,shrink-to-fit=no" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        {% block meta %}
        {% with image_url=STATIC_PREFIX|add:"assets/image/logo-grande-journee-root-2025.png" %}
        {% include "cdf/meta.html" with title=_("Coupe de France ROOT - La Grande Journée ROOT") 
                                        image_url=image_url
                                        description=_("La Grande Journée Root est un rendez-vous annuel, et s'y déroule la finale de la Coupe de France qui réunit l'ensemble des finalistes des Qualifiers. La journée est également l'occasion de réunir plus largement les joueurs de la communauté francophone de Root à travers des animations autour de l'uniers du jeu et de l'auteur.") %}
        {% endwith %}
        {% endblock meta %}
        <!-- base href="" -->
        <link href="{% static 'assets/css/pure-min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/grids-responsive-min.css' %}"
              rel="stylesheet" />
        <link href="{% static 'assets/css/menu-style.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/css.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/style.css' %}"
              rel="stylesheet"
              type="text/css" />
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous" />
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'assets/image/apple-touch-icon.png' %}" />
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'assets/image/favicon-32x32.png' %}" />
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'assets/image/favicon-16x16.png' %}" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-TileImage"
              content="{% static 'assets/image/mstile-144x144.png' %}" />
        <meta name="theme-color" content="#fdeee0" />
        <style type="text/css">
      #sidebar_left {
        background-color: rgba(0, 0, 0, 0) !important;
      }
        </style>
    </head>
    <body id="RootLaw" lang="fr-FR">
        <div class="custom-wrapper pure-g" id="menu">
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="pure-menu">
                    {% get_home_page as home_page %}
                    <a href="{% if home_page %}{{ home_page.get_absolute_url }}{% endif %}"
                       class="pure-menu-heading custom-brand">{% if home_page %}{{ home_page.title }}{% else %}{{ _("Accueil") }}{% endif %}</a>
                    <a href="{% if home_page %}{{ home_page.get_absolute_url }}{% endif %}"
                       class="custom-toggle"
                       id="toggle"><s class="bar"></s><s class="bar"></s></a>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="pure-menu pure-menu-horizontal custom-can-transform">
                    <ul class="pure-menu-list">
                        {% get_menu_items as menu_items %}
                        {% if menu_items %}
                            {% for menu_item in menu_items %}
                                <li class="pure-menu-item">
                                    {% if menu_item.get_title and menu_item.priority > 0 %}
                                        <a href="{{ menu_item.get_absolute_url }}"
                                           class="pure-menu-link"
                                           {% if menu_item.open_in_new_context %}target="_blank"{% endif %}>{{ menu_item.get_title }}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock content %}
        <script>
      // Lazyload
      (function (w, d) {
        w.addEventListener(
          "LazyLoad::Initialized",
          function (e) {
            w.lazyLoadInstance = e.detail.instance;
          },
          false,
        );
        var b = d.getElementsByTagName("body")[0];
        var s = d.createElement("script");
        s.async = true;
        var v = !("IntersectionObserver" in w) ? "8.16.0" : "10.19.0";
        s.src =
          "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" +
          v +
          "/dist/lazyload.min.js";
        w.lazyLoadOptions = {};
        b.appendChild(s);
      })(window, document);
        </script>
        <script async="" src="{% static 'assets/js/lazyload.js' %}"></script>
        <script src="{% static 'assets/js/clipboard.js' %}"></script>
        <script src="{% static 'assets/js/pure-menu.js' %}"></script>
        <script>
      // Initiate Clipboard
      var clipboard = new ClipboardJS(".clip", {
        text: function (trigger) {
          return "{% buildfullurl "/#" %}" + trigger.getAttribute("id");
        },
      });
      clipboard.on("success", function (e) {
        console.info("Action:", e.action);
        console.info("Text:", e.text);
        console.info("Trigger:", e.trigger);
        e.trigger.classList.add("active");
        setTimeout(function () {
          e.trigger.classList.remove("active");
          e.trigger.classList.add("tick");
        }, 1500);
        setTimeout(function () {
          e.trigger.classList.remove("tick");
        }, 9999);

        e.clearSelection();
      });
      clipboard.on("error", function (e) {
        console.log(e + "Error");
      });

      // Version History
      function versionHistory(y) {
        var x = document.getElementsByClassName(y);
        var i;
        for (i = 0; i < x.length; i++) {
          x[i].classList.toggle("v-highlight");
        }
      }

      function logoLoaded() {
        // And also strip out the red once we've loaded the image
        head = document.head;
        (document.getElementsByTagName("head")[0],
          (style = document.createElement("style")));
        style.type = "text/css";
        style.appendChild(
          document.createTextNode(
            "#sidebar_left{ background-color: rgba(0, 0, 0, 0) !important; }",
          ),
        );
        head.appendChild(style);
      }

      // Run functions after windowload
      window.onload = function () {
        setTimeout(logoLoaded(), 1000);
      };
        </script>
    </body>
</html>
